.banner {
    background-image: url("img/pattern.jpeg")
}

.banner h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

.subtitle h2{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.subtitle.brushes {
    background-color: mediumspringgreen;
}

.subtitle.frames {
    background-color: lightcoral;
}

.subtitle.paint  {
    background-color: skyblue
}

strong {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}